@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... resto do seu css ... */

/* ... seus imports do tailwind ... */

/* Utilitário para esconder barra de rolagem */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
